<!DOCTYPE html>
<html lang="ja">
 <head>
   <meta charset="UTF-8">
   <title></title>
   <link rel="stylesheet" type="text/css" href="static\css\total.css">
 </head>
 <body>
    <div class="search">
      <img src="/static/images/invest.jpg" class="abc">
    </div>
    <!-- <!-- <div class="box">
      <div  class="box_item button"><a href="/my_stock" class="box_link">my stock</a></div>
      <div  class="box_item button"><a href="/favorite" class="box_link">favorite</a></div>
      <div  class="box_item button" ><a href="/company" class="box_link">company</a></div>
      <div  class="box_item button"><a href="/predict" class="box_link">predict</a></div> -->
    <!-- </div> --> -->
    <div class="box">
    <a href="/my_stock" class="button">
      <div class="button__wrapper box_item"></div>
      <div class="button__box ">My Stock</div>
    </a>
  
    <a href="/favorite" class="button button--round">
      <div class="button__wrapper box_item"></div>
      <div class="button__box">Favorite</div>

      <a href="/company/10/20" class="button">
        <div class="button__wrapper box_item"></div>
        <div class="button__box">Company</div>
      </a>
    
      <a href="/predict" class="button button--round">
        <div class="button__wrapper box_item"></div>
        <div class="button__box">Predict</div>
    </a>
    </div>
 </body>
</html>